/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 12, 2024, 2:34:32 PM
    Author     : LAPTOP 247
*/
table{
    border: 1px solid black;
}
th {
  border: 3px double black;
}
td{
    border: 1px solid black;
}
